/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply h-full;
}

body {
  @apply font-sans bg-white text-gray-900;
}

/* Força fundo branco em inputs/selects/textareas em todos os dispositivos */
input, select, textarea {
  background-color: #fff !important;
  -webkit-appearance: none;
  appearance: none;
}